<h1>Bienvenido</h1>
<p>Ingrese cualquier nombre:</p>

<html>


<body>

<form method="get" action="http://aprenderaprogramar.com/accion.php">
    <input type="text" name="hm" value="	"> </input>
  <p>
    
  </p>
<input type="submit" value="Ingresar" />
<h2>Nombre es :<%=@nombre%> </h2>
<footer>
<p>By:  <%=@nombre%></p>
</footer>
</form>

</body>

</html>
  
